@*
    Originally submitted to OSEHRA 2/21/2017 by DSS, Inc.
    Authored by DSS, Inc. 2014-2017
*@

@model VA.Gov.Artemis.UI.Data.Models.Labs.LabModel
@using VA.Gov.Artemis.UI.Data.Models.Labs

@{
    ViewBag.Title = "MCC Dashboard - Labs";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@Html.HiddenFor(m => m.CanFilterByPregnancy)
@Html.HiddenFor(m => m.LabTypeFilter)
@Html.HiddenFor(m => m.FilteredByPregnancy)

<h1 class="h3 page-header">Lab Results</h1>

@*@{Html.RenderPartial("~/Views/Shared/_PatientBlock.cshtml", Model.Patient);}*@
<br />
@*<p><i>Click a row to select the lab result</i></p>*@

<div class="row">
    <div class="col-md-6">
        <p>
            <span class="db-table-filter"><small>Show:</small></span>
            <button id="filter-any" type="button" class="btn btn-xs btn-default db-table-filter">All Labs</button>
            <button id="filter-pre" type="button" class="btn btn-xs btn-success db-table-filter">Prenatal Only</button>
        </p>
    </div>
    <div class="col-md-6 text-right">
        <span class="db-table-filter"><small>Show Labs From:</small></span>
        <button id="filter-cur-preg" type="button" class="btn btn-xs btn-default db-table-filter">@Model.PregnancyFilterDescription</button>
        <button id="filter-all-preg" type="button" class="btn btn-xs btn-success db-table-filter">All Pregnancies</button>
    </div>
</div>
<table class="table table-bordered table-hover" style="font-size: 12px">
    <thead class="centered-header">
        <tr>
            <th scope="col">Specimen</th>
            <th scope="col">Collected</th>
            <th scope="col">Test</th>
            <th scope="col">Result/Status</th>
            <th scope="col">Flag</th>
            <th scope="col">Units</th>
            <th scope="col">Ref Range</th>
        </tr>
    </thead>
        @if (Model.Items.Count > 0)
        {
            @:<tbody>

            foreach (LabItem item in Model.Items)
            {    
            <tr data-id="@item.Id" >
                <td class="centered-txt" style="vertical-align: middle">@Html.DisplayFor(modelItem => item.Specimen)</td>
                <td class="centered-txt" style="vertical-align: middle">@Html.DisplayFor(modelItem => item.CollectionDateTime)</td>
                <td style="vertical-align: middle">@Html.DisplayFor(modelItem => item.Test)</td>
                <td class="centered-txt" style="vertical-align: middle">@Html.DisplayFor(modelItem => item.ResultStatus)</td>
                <td class="centered-txt" style="vertical-align: middle">@Html.DisplayFor(modelItem => item.Flag)</td>
                <td class="centered-txt" style="vertical-align: middle">@Html.DisplayFor(modelItem => item.Units)</td>
                <td class="centered-txt" style="vertical-align: middle">@Html.DisplayFor(modelItem => item.RefRange)</td>
            </tr>
            }
            @:</tbody>
        }
        else
        {
            <tfoot>
                <tr>
                    <td colspan="9" class="centered-txt">(No Lab Results)</td>
                </tr>  
            </tfoot> 
        }
</table>

@{Html.RenderPartial("~/Views/Shared/_paging.cshtml", Model.Paging);}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            @*<button id="view-selected" type="button" class="btn btn-default" disabled="disabled">View Selected</button>*@
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Summary", "Patient", new { dfn = Model.Patient.Dfn })'">Patient Summary</button>
        </div>
    </div>
</div>
<br />

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#nav-pat-labs').addClass('active').siblings().removeClass('active');

            if ($('#CanFilterByPregnancy').val() == "False")
                $('#filter-cur-preg').attr("disabled", "disabled");

            if ($('#LabTypeFilter').val() == "Any")
                selectBtn('#filter-any');
            else
                selectBtn('#filter-pre');

            if ($('#FilteredByPregnancy').val() == "True")
                selectBtn('#filter-cur-preg');
            else
                selectBtn('#filter-all-preg');

            $("tbody > tr").click(function () {
                $(this).addClass("info").siblings().removeClass("info");
                $("#view-selected").removeAttr("disabled");
            });

            $("#view-selected").click(function () {
                var id = $("tr.info").attr("data-id");
                if (id != "")
                    location.href = '@Url.Action("Detail", "Labs", new { @dfn = Model.Patient.Dfn })' + "/" + id;
            });

            $('#filter-any').click(function () {
                selectBtn(this);
                location.href = '@Url.Action("Index", new { dfn = Model.Patient.Dfn, labtype = "Any", pregFilter = Model.FilteredByPregnancy, page = "1" })';
            });

            $('#filter-pre').click(function () {
                selectBtn(this);
                location.href = '@Url.Action("Index", new { dfn = Model.Patient.Dfn, labtype = "Prenatal", pregFilter = Model.FilteredByPregnancy, page = "1" })';
            });

            $('#filter-cur-preg').click(function () {
                selectBtn(this);
                location.href = '@Url.Action("Index", new { dfn = Model.Patient.Dfn, labtype = Model.LabTypeFilter, pregFilter = "True", page = "1" })';
            });

            $('#filter-all-preg').click(function () {
                selectBtn(this);
                location.href = '@Url.Action("Index", new { dfn = Model.Patient.Dfn, labtype = Model.LabTypeFilter, pregFilter = "False", page = "1" })';
            });

            function selectBtn(element) {
                $(element).addClass("btn-success").siblings().removeClass("btn-success").addClass("btn-default");
                $(element).removeClass("btn-default");
            };
        });

    </script>
}

@section Navigation
{
    @{Html.RenderPartial("~/Views/Shared/_NavGroupPatient.cshtml", Model.Patient);}
}

