@model VA.Gov.Artemis.UI.Data.Models.Education.PatientEducationSelect
@using VA.Gov.Artemis.UI.Data.Models.Education

@{
    ViewBag.Title = "MCC Dashboard - Select Patient Education Items";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<br />

<h1 class="h3 page-header">Select Patient Education Items</h1>
<br />

@using (Html.BeginForm("PatientSelect", "Education", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Patient.Dfn)
    @Html.HiddenFor(m => m.SelectedIens)

    string[] icons = new string[] { "", "glyphicon-comment", "glyphicon-link", "glyphicon-book", "glyphicon-calendar", "" };


    if (Model.SelectLists.Count > 0)
    {
        int count = 0;

        foreach (List<PatientEducationSelectItemRow> itemList in Model.SelectLists)
        {
            if (count % 3 == 0)
            {                    
    @:<div class="row">
}
            <div class="col-md-4">
                <table class="table table-bordered table-hover table-db">
                    <tbody>                                                       
                        @foreach (PatientEducationSelectItemRow item in itemList)
                        {
                            if (item.CategoryRow)
                            {
                                <tr class="active"><td class="th" colspan="3">@item.Category</td>
                        </tr>
                            }
                            else
                            {
                                string iconClass = icons[(int)item.ItemType]; 
                        
                            <tr data-ien="@item.Ien">
                                <td class="centered-txt">
                                    @*<label class="sr-only" for="@item.Ien">@item.ItemTypeDescription</label>*@
                                    <input class="item-checkbox" type="checkbox" id="@item.Ien"/></td>
                                <td style="vertical-align: middle">
                                    <label for="@item.Ien" class="glyphicon @iconClass" data-toggle="tooltip" title="@item.ItemTypeDescription"></label>
                                    &nbsp;&nbsp;@item.Description</td>
                            </tr>   
                            }
                        }
                    </tbody>
                </table>
            </div>
                        if (count % 3 == 2)
                        {
                @:</div>
                    }
                        count += 1;
        }

        if (count % 3 != 2)
        {
    @:</div>
        }


    }
    else
    {
    <h2 class="h5 bg-danger" style="padding: 16px; margin-bottom: 20px">There are no education items added to the system</h2>
    }
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("PatientAddEdit", new { @dfn = Model.Patient.Dfn })'">Other</button>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("PatientIndex", new { @dfn = Model.Patient.Dfn })'">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    <br />
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".item-checkbox").change(function () {
                if ($(this).prop("checked") == true)
                    $(this).parents("tr").addClass("success");
                else
                    $(this).parents("tr").removeClass("success");

                var iens = "";

                $(".item-checkbox").each(function () {
                    if ($(this).prop("checked") == true) {
                        var ien = $(this).parents("tr").attr("data-ien");
                        if (iens == "")
                            iens = ien;
                        else
                            iens = iens + "^" + ien;
                    }
                });

                $("#SelectedIens").val(iens);
            });

        });
    </script>
}

@section Navigation
{
    @{Html.RenderPartial("~/Views/Shared/_NavGroupPatient.cshtml", Model.Patient);}
}

