@model VA.Gov.Artemis.UI.Data.Models.Cda.CdaDocumentModel

@{
    ViewBag.Title = "MCC Dashboard - View Exchange Document";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<embed class="db-embed" src="@Model.FileName" />

<br />
<br />

@using (Html.BeginForm("Export", "Cda", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.FileName)
    @Html.HiddenFor(m => m.Patient.Dfn)
    @Html.HiddenFor(m => m.Data.DocumentType)

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Summary", "Patient", new { dfn = Model.Patient.Dfn })'">Patient Summary</button>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", new { dfn = Model.Patient.Dfn })'">Clinical Exchange Documents</button>
                <button type="submit" class="btn btn-primary" onclick="">Export</button>
            </div>
        </div>
    </div>
    
    <br />
    <br />

}

@section Navigation
{
    @{Html.RenderPartial("~/Views/Shared/_NavGroupPatient.cshtml", Model.Patient);}
}


