@using VA.Gov.Artemis.UI.Data.Models.Orders
@model VA.Gov.Artemis.UI.Data.Models.Orders.OrderListModel

@{
    ViewBag.Title = "MCC Dashboard - Orders";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h1 class="h3 page-header">Orders</h1>

<p><i>Click a row to select the order</i></p>

<table class="table table-bordered table-hover table-db">
    <thead class="centered-header">
        <tr>
            <th scope="col">Service</th>
            <th scope="col">Order</th>
            <th scope="col">Start / Stop</th>
            <th scope="col">Provider</th>
            <th scope="col">Nurse</th>
            <th scope="col">Clerk</th>
            <th scope="col">Chart</th>
            <th scope="col">Status</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
    @if (Model.Orders.Count > 0)
    {
        @:<tbody>
            foreach (Order item in Model.Orders)
            {    
            <tr data-id="@item.Ifn" >
                <td>@Html.DisplayFor(modelItem => item.Service)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderText)</td>
                <td>@Html.DisplayFor(modelItem => item.StartStop)</td>
                <td>@Html.DisplayFor(modelItem => item.Provider)</td>
                <td>@Html.DisplayFor(modelItem => item.Nurse)</td>
                <td>@Html.DisplayFor(modelItem => item.Clerk)</td>
                <td>@Html.DisplayFor(modelItem => item.Chart)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
            </tr>
            }
        @:</tbody>

    }
    else
    {
        <tfoot>
            <tr>
                <td colspan="9" class="centered-txt">(No Orders)</td>
            </tr>
        </tfoot> 
    }
</table>

@{Html.RenderPartial("~/Views/Shared/_paging.cshtml", Model.Paging);}

<br />
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button id="view-selected" type="button" class="btn btn-default" disabled="disabled">View Selected</button>
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Summary", "Patient", new { dfn = Model.Patient.Dfn })'">Patient Summary</button>
        </div>
    </div>
</div>
<br />

@*<div class="modal fade file-select-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="h4 modal-title" id="myModalLabel">Order Detail</h2>
            </div>
            <div class="modal-body">
                Show Order Detail Here
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <input type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.file-select-modal').modal('hide');" value="Close" />
                </div>
            </div>
            }
        </div>
    </div>
</div>*@

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#nav-pat-orders').addClass('active').siblings().removeClass('active');
            $("tbody > tr").click(function () {
                $(this).addClass("info").siblings().removeClass("info");
                $("#view-selected").removeAttr("disabled");
            });

            $("#view-selected").click(function () {
                var id = $("tr.info").attr("data-id");
                if ((id != "") && (id !== undefined))
                    location.href = '@Url.Action("Detail", "Orders", new { @dfn = Model.Patient.Dfn })' + "/" + id;
            });
        });
    </script>
}

@section Navigation
        {
    @{Html.RenderPartial("~/Views/Shared/_NavGroupPatient.cshtml", Model.Patient);}
}

