@model VA.Gov.Artemis.UI.Data.Models.Checklist.PregnancyChecklistAddEdit
@using VA.Gov.Artemis.UI.Data.Models.Checklist
@using VA.Gov.Artemis.Commands.Dsio.Checklist

@{
    ViewBag.Title = "MCC Dashboard - Pregnancy Checklist";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@{ 
    string header = (string.IsNullOrWhiteSpace(Model.Item.Ien)) ? "Add Pregnancy Checklist Item" : "Edit Pregnancy Checklist Item";
}
<h1 class="h3 page-header">@header</h1>

@if (string.IsNullOrWhiteSpace(Model.Item.Ien))
{
    <p class="bg-success" style="padding: 16px">The following item will be added to the list of tasks for the current patient</p>

    <br />
}

@using (Html.BeginForm("PregnancyAddEdit", "Checklist", FormMethod.Post, new { @role = "form", @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Patient.Dfn)
    @Html.HiddenFor(m => m.Item.Ien)
    @Html.HiddenFor(m => m.Item.PatientDfn)
    @Html.HiddenFor(m => m.Item.PregnancyIen)
    @Html.HiddenFor(m => m.Item.CompletionLink)

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Item.ItemType)
                @Html.DropDownListFor(m => m.Item.ItemType, new SelectList(ChecklistItemTypeUtility.GetItemTypeSelection(), "key", "value"), "(Select)", new { @class = "form-control" })
            </div>
            <div class="form-group" id="link-div">
                <label for="Item_Link">Note</label>
                @Html.DropDownListFor(m => m.Item.Link, new SelectList(ChecklistSelections.CallNoteSelection, "key", "value"), "(Select)", new { @class = "form-control" })
            </div>
            <div class="form-group" id="link-ed-div">
                <label>Education Item</label>
                @Html.DropDownListFor(m => m.Item.EducationItemIen, new SelectList(Model.EducationItemSelection, "key", "value"), "(Select)", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Category)
                @Html.TextBoxFor(m => m.Item.Category, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Description)
                @Html.TextBoxFor(m => m.Item.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Item.Note)
                @Html.TextAreaFor(m => m.Item.Note, new { @class = "form-control", @rows = "3" })
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Item.InProgress)
                    In Progress                    
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Item.CompletionStatus)
                @Html.DropDownListFor(m => m.Item.CompletionStatus, new SelectList(CompletionStatusUtility.GetSelection(), "key", "value"), new { @class = "form-control" })
            </div>

            <div style="margin-left: 40px; margin-top: 30px;">
                <div class="form-group">
                    @Html.RadioButtonFor(m => m.Item.DueCalculationType, DsioChecklistCalculationType.Initial, new { @id = "initial-radio" })
                    &nbsp;&nbsp;Due Immediately
                </div>
                <div class="form-group">
                    @Html.RadioButtonFor(m => m.Item.DueCalculationType, DsioChecklistCalculationType.WeeksGa, new { @id = "weeks-ga-radio" })
                    &nbsp;&nbsp;Due at 
                @Html.TextBoxFor(m => m.WeeksGestation, new { @style = "width: 44px; display: inline; margin-right: 10px; margin-left: 10px", @class = "form-control centered-txt", @id = "weeks-ga-txt" })
                    weeks gestation
                </div>
                <div class="form-group">
                    @Html.RadioButtonFor(m => m.Item.DueCalculationType, DsioChecklistCalculationType.TrimesterGa, new { @id = "tri-radio" })
                    &nbsp;&nbsp;Due by end of 
                @Html.DropDownListFor(m => m.Trimester, new SelectList(ChecklistSelections.TrimesterSelection, "key", "value"), "(Select)", new { @class = "form-control", @style = "width: 172px; display: inline; margin-right: 10px; margin-left: 10px", @id = "tri-select" })
                </div>
                <div class="form-group">
                    @Html.RadioButtonFor(m => m.Item.DueCalculationType, DsioChecklistCalculationType.WeeksPostpartum, new { @id = "weeks-pp-radio" })
                    &nbsp;&nbsp;Due at 
                @Html.TextBoxFor(m => m.WeeksPostPartum, new { @style = "width: 44px; display: inline; margin-right: 10px; margin-left: 10px", @class = "form-control centered-txt", @id = "weeks-pp-txt" })
                    weeks postpartum
                </div>
                <div class="form-group">
                    @Html.RadioButtonFor(m => m.Item.DueCalculationType, DsioChecklistCalculationType.None, new { @id = "due-on-radio" })
                    &nbsp;&nbsp;Due on 
                    @Html.TextBoxFor(m => m.Item.SpecificDueDateText, new { @style = "width: 172px; display: inline; margin-right: 10px; margin-left: 10px", @class = "form-control", @placeholder = "MM/DD/YYYY", @id = "due-on-txt" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("PregnancyIndex", new { @dfn = Model.Patient.Dfn })'">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}
<br />

@section Navigation
{
    @{Html.RenderPartial("~/Views/Shared/_NavGroupPatient.cshtml", Model.Patient);}
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#nav-config-chk').addClass('active').siblings().removeClass('active');

            @if (Model.Item.ItemType != DsioChecklistItemType.MccCall)
            {
                <text>
            $("#link-div").hide();
            </text>
            }

            @if (Model.Item.ItemType != DsioChecklistItemType.EducationItem)
            {
                <text>
            $("#link-ed-div").hide();
                </text>
            }

            $("#Item_ItemType").change(function () {
                if ($(this).val() == "@DsioChecklistItemType.MccCall")
                    $("#link-div").show();
                else
                    $("#link-div").hide();
                if ($(this).val() == "@DsioChecklistItemType.EducationItem")
                    $("#link-ed-div").show();
                else
                    $("#link-ed-div").hide();
            });


            $('#due-on-txt').placeholder();

            enableDisable();

            $('input[name="Item.DueCalculationType"]:radio').change(function () {
                enableDisable()
            });

            function enableDisable() {

                if ($('#weeks-ga-radio').prop("checked") == true)
                    $('#weeks-ga-txt').removeAttr("disabled");
                else
                    $('#weeks-ga-txt').attr("disabled", "disabled");

                if ($('#tri-radio').prop("checked") == true)
                    $('#tri-select').removeAttr("disabled");
                else
                    $('#tri-select').attr("disabled", "disabled");

                if ($('#weeks-pp-radio').prop("checked") == true)
                    $('#weeks-pp-txt').removeAttr("disabled");
                else
                    $('#weeks-pp-txt').attr("disabled", "disabled");

                if ($('#due-on-radio').prop("checked") == true)
                    $('#due-on-txt').removeAttr("disabled");
                else
                    $('#due-on-txt').attr("disabled", "disabled");
            }

            $('#due-on-txt').change(function () {
                var jsDate = getJSDate($(this).val());
                if (jsDate == undefined) {
                    $(this).val('');
                    alert("Please enter a valid date in the format MM/DD/YYYY or M/D/YY");
                }
                else
                    $(this).val(getFormattedDate(jsDate));
            })

        });
    </script>
}
